.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*HEADER SECTION*/

.header {
    height: 10%;
    position: fixed;
    background-color:#000;
    width: 100%;
    z-index: 5;  
}

.logo{
    padding: 0.7%;
    float: left;
    margin-left: 2%;
    position: relative;
}

nav{
    float: right;
    height: 40px;
    margin-top:1.5%;
    margin-right: 2%;
}
nav a{
    line-height: 40px;
    display: inline;
    color: white;
    padding: 0px 15px;
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    color:#74818f;
}

/*BASE SECTION*/

.base{
    width: 100%;
}
.base img{
    width: 100%;
    margin-top: 28px;
    height: calc(100vh - 28px);
    background-size: cover;
    position: relative;  
}

/* ME SECTION */

.me {
  width: 100%;
  height: 100%;
  margin:-5px;
  position: absolute;
}
.me img{
  width: 100.4%;
  height: 101vh;
  opacity: 0.7;
  position: relative; 
  background-size: cover;
}
.me h1,h2,h3,h4,h5,h6,p{
  position: absolute;
  left:20%;
  color: rgb(0, 0, 0);
  font-family: fantasy;
  display: block;
}
.me h1{
  top:7%;
  left:15%;
  font-size: 90px;
}
.me h2{
  top:28%;
  font-size: 40px;
}
.me h3{
  top:39%;
  left:20%;
  font-size: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.me h4{
  top:58%;
  font-size: 25px;
}
.me h5{
  top:60%;
  font-size: 45px;
  font-family: cursive;
}
.me h6{
  top:73%;
  font-size: 30px;
}
.me p{
  left:20%;
  top:83%;
  color: black;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* PROFILE SECTION */
.profile {
  background-color:white;
  position: absolute;
  margin-top:670px;
  width: 100%;
  height: 101vh;
  }
#profile img{
  width: 30%;
  height: 90%;
  margin-top: 70px;
  margin-left: 5%;
  float: left;
} 
.info h2,h3 {
  left:50%;
}
.info h2{
  top:50px;
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.info h3{
  font-size: 30px;
  color:green;
  font-family: Arial, Helvetica, sans-serif;
}
.info p{
  left:70%;
  font-size: 30px;
  color: black;
  font-family: cursive;
}

/*SKILLS SECTION*/
.skills {
    background-color:#141415;
    position: absolute;
    margin-top:1450px;
    width: 100%;
    height: 101vh;
    }
#skills img{
    width: 40%;
    height: 100%;
    align-items: center;
} 
/*Hard Skills*/
.hard-skill h2,ul,p{
    display: block;
    position: absolute;
    left:7%;
    color: white;
}
.hard-skill h2{
    top:120px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hard-skill ul{
    top:210px;
    font-size: 20px;
    font-family: cursive;
}
.hard-skill p{
    top:420px;
    font-size: 3.6875em;
    line-height: 1.1;
    font-family: cursive;
}
/*Soft Skills*/
.soft-skill h2,ul,p{
    display: block;
    position: absolute;
}
.soft-skill h2{
    top:120px;
    left:76%;
    font-size: 40px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.soft-skill ul{
    top:210px;
    left:78%;
    font-size: 20px;
    color: white;
    font-family: cursive;
}
.soft-skill p{
    top:420px;
    left:78%;
    font-size: 3.6875em;
    line-height: 1.1;
    color: white;
  }

  /*WORK AND EDUCATION*/
  .work-education{
    position: absolute;
    margin-top:2120px;
    width: 100%;
    height: 100vh;
}
.work-education h2{
    left: 30%;
    color:black;
    margin-top:90px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.work img{
    width: 28%;
    float: left;
    height: 100%;
    margin-top: 200px;
}
.work h3{
    font-size: 30px;
    color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.work p{
    color: black;
    font-size: 15px;
    margin-left: 42em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.education img{
    width: 28%;
    min-height: 14em;
    height: 100%;
    float: right;
    margin-top:446px;   
}
.education h3{
    font-size: 30px;
    color: cadetblue;
    left: 10%;
}
.education p{
    color: black;
    font-style: none;
    font-size: 15px;
    left: 14%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*COLLEAGUE SECTION*/
.colleague{
    margin-top: 2790px;
    width: 100%;
    height: 100vh;
    background-color:#1d1c1c;
    overflow: hidden;
}
.colleague h2{
    font-size: 50px;
    color: white;
    margin-top: 10%;
    margin-left: 25%
}
.colleague img{
    width: 230px;
    height: 250px;
    margin: 60px;
    margin-top: 300px;
    border-radius: 50%;
    border: rgba(0,0,0,0.4) solid 6px;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 1);
}

/*CONTACT SECTION*/
.contact{
    background-color:#969ca2cf;
    width: 100%;
    height: 100vh;
}
.contact h2{
    margin-top: -16%;
    font-size: 40px;
    text-align: center;
    left: 33%;
    font-family: sans-serif;
}
 .circle{
    top: 26%;
    left: 31%;
    width: 41%;
    height: 70%;
    border-radius: 58%;
    background: #41969c;
    position: relative;
}
.form {
    padding-top: 30%;
}
.form h3{
    top: 15%;
    left: 33%;
    font-family: Arial, Helvetica, sans-serif;
}
/*FOOTER SECTION*/
.footer{
    background-color:black;
    width: 100%;
}
.footer h2{
    margin-top: 8%;
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    margin-left: 18%;
}
.footer h3{
    margin-top: 16%;
    left: 34%;
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;

}
.footer img{
    margin-top: 32%;
    width: 8%;
    height: 12%;
}
.footer p{
    margin-top: 2%;
    margin-left: 41%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer .connect-me a{
    font-size: 50px;
    padding-top:100px;
    left:20%;
    padding-left: 30px;
}
